.header {
  background-color: #fff;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header__logo {
  margin-right: 16px;
}
@media (max-width: 885px) {
  .header__logo {
    margin-right: 0;
  }
}
.header__geo {
  display: flex;
  align-items: center;
  margin-right: 61px;
}
@media (max-width: 1024px) {
  .header__geo {
    margin-right: 32px;
  }
}
@media (max-width: 885px) {
  .header__geo {
    display: none;
  }
}
.header__geo-icon {
  margin-right: 8px;
}
.header__city {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #222;
}
.header__search {
  display: flex;
  align-items: center;
  width: 50%;
  background-color: #F1F1F1;
  border-radius: 100px;
  padding: 13px 8px 13px 16px;
  margin-right: auto;
}
@media (max-width: 885px) {
  .header__search {
    display: none;
  }
}
.header__search-icon {
  margin-right: 16px;
}
.header__input {
  width: 100%;
  text-align: center;
  background: transparent;
  border: 0;
  color: #767676;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.header__likes {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #222;
  background-image: url("../img/likes.svg");
  background-repeat: no-repeat;
  background-size: 15px 14px;
  background-position: left center;
  padding-left: 20px;
  margin-right: 40px;
}
@media (max-width: 885px) {
  .header__likes {
    margin-right: 0;
  }
}
.header__profile {
  display: flex;
  align-items: center;
}
@media (max-width: 885px) {
  .header__profile {
    display: none;
  }
}
.header__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #222;
  margin-right: 7px;
}
.header__bottom {
  padding-bottom: 18px;
}
@media (max-width: 885px) {
  .header__bottom {
    display: none;
  }
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__item-active {
  padding: 2.5px 10px;
  background-color: #F1F1F1;
  border-radius: 34px;
}
.header__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #222;
}
@media (max-width: 1024px) {
  .header__link {
    font-size: 12px;
  }
}
.header__burger {
  display: none;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 885px) {
  .header__burger {
    display: flex;
  }
}
.header__burger-line {
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #222;
  transition: transform 0.3s;
}
.header__burger-line:not(:last-child) {
  margin-bottom: 5px;
}
.header__mobile {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: #fff;
  padding: 30px;
}
@media (max-width: 885px) {
  .header__mobile-active {
    display: block;
  }
}
.header__top-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.header__geo-mobile {
  display: flex;
  align-items: center;
}
.header__search-mobile {
  display: flex;
  align-items: center;
  width: 50%;
  background-color: #F1F1F1;
  border-radius: 100px;
  padding: 13px 8px 13px 16px;
}
.header__profile-mobile {
  display: flex;
  align-items: center;
}
.header__list-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header__item-mobile {
  padding-left: 10px;
}
.header__item-mobile:not(:last-child) {
  margin-bottom: 12px;
}
.header__item-mobile a {
  font-size: 16px;
}
.header__mobile-close {
  position: absolute;
  top: 10px;
  right: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}
.header__mobile-close .header__burger-line {
  margin: 0;
  width: 100%;
}
.header__mobile-close .header__burger-line--1 {
  position: absolute;
  transform: rotate(45deg);
}
.header__mobile-close .header__burger-line--2 {
  position: absolute;
  transform: rotate(-45deg);
}
.header__cities {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  background: #FBFBFB;
  height: 416px;
  max-height: 0;
  width: 384px;
  box-shadow: 0px 7px 38px rgba(44, 62, 106, 0.25);
  border-radius: 10px;
  transition: max-height 0.7s, opacity 0.7s;
  margin-top: 20px;
  opacity: 0;
  overflow: hidden;
}
.header__cities-active {
  max-height: 416px;
  opacity: 1;
}
.header__cities-container {
  width: 100%;
  padding: 24px 16px 0 16px;
}
.header__cities-input {
  width: 100%;
  border: 1px solid #D8D8D8;
  background-color: transparent;
  border-radius: 100px;
  padding: 14px 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #A7A7A7;
}
.header__cities-list {
  display: flex;
  flex-direction: column;
  max-height: 280px;
  width: 100%;
  padding-top: 8px;
  overflow-y: auto;
  direction: ltr;
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
}
.header__cities-list::-webkit-scrollbar {
  width: 10px;
}
.header__cities-list::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}
.header__cities-list::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #0656B4;
}
.header__cities-list--container {
  width: 100%;
  padding-top: 8px;
  padding-right: 8px;
}
.header__cities-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #222;
  cursor: pointer;
  padding: 9px 0 9px 23px;
}
.header__cities-item--active {
  background-color: #F1F1F1;
}
.header__cities-item:hover {
  background-color: #F1F1F1;
}
.header__cities-save {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 16px 145px;
  color: #A7A7A7;
  border-top: 1px solid #D8D8D8;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #FBFBFB;
  transition: background-color 0.5s, color 0.5s;
}
.header__cities-save--active {
  background-color: #0656B4;
  color: #fff;
}
.header .preloader {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  vertical-align: -0.125em;
  border: 0.2em solid #0656B4;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: 1s linear infinite preloader;
  animation: 1s linear infinite preloader;
}
@keyframes preloader {
  100% {
    transform: rotate(360deg);
  }
}