@import "_vars.scss";
@import "_mixins.scss";

.header {
    background-color: $backgroundHeader;
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    &__logo {
        margin-right: 16px;
        @media (max-width: 885px) {
            margin-right: 0;
        }
    }
    &__geolocation {
        margin-right: 61px;
        @media (max-width: 1024px) {
            margin-right: 32px;
        }
        @media (max-width: 885px) {
            display: none;
        }
    }
    &__geo {
        position: relative;
        display: flex;
        align-items: center;
        width: 170px;
        svg {
            flex-shrink: 0;
        }
        &:hover {
            svg {
                rect {
                    stroke: $gray;
                }
                path {
                    fill: $gray;
                }
            }
        }
        &-icon {
            margin-right: 8px;
        }
        &-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &__city {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $main;
    }
    &__search {
        display: flex;
        align-items: center;
        width: 50%;
        background-color: $background;
        border-radius: 100px;
        padding: 13px 8px 13px 16px;
        margin-right: auto;
        @media (max-width: 1070px) {
            margin-right: 8px;
        }
        @media (max-width: 885px) {
            display: none;
        }
        &-icon {
            margin-right: 16px;
        }
    }
    &__input {
        width: 100%;
        text-align: center;
        background: transparent;
        border: 0;
        color: $gray;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    }
    &__likes {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $main;
        background-image: url('../img/likes.svg');
        background-repeat: no-repeat;
        background-size: 15px 14px;
        background-position: left center;
        padding-left: 20px;
        margin-right: 40px;
        @media (max-width: 885px) {
            margin-right: 0;
        }
    }
    &__profile {
        display: flex;
        align-items: center;
        @media (max-width: 885px) {
            display: none;
        }
    }
    &__name {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $main;
        margin-right: 7px;
    }
    &__bottom {
        padding-bottom: 18px;
        @media (max-width: 885px) {
            display: none;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        &-active {
            padding: 2.5px 10px;
            background-color: $background;
            border-radius: 34px;
        }
    }
    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: $main;
        @media (max-width: 1024px) {
            font-size: 12px;
        }
    }
    &__burger {
        display: none;
        align-items: center;
        flex-direction: column;
        @media (max-width: 885px) {
            display: flex;
        }
        &-line {
            display: inline-block;
            width: 20px;
            height: 2px;
            background-color: $main;
            transition: transform .3s;
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
    &__mobile {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        background-color: $backgroundHeader;
        padding: 30px;
        @media (max-width: 885px) {
            &-active {
                display: block;
            }
        }
    }
    &__top-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 24px;
    }
    &__geo-mobile {
        display: flex;
        align-items: center;
    }
    &__search-mobile {
        display: flex;
        align-items: center;
        width: 50%;
        background-color: $background;
        border-radius: 100px;
        padding: 13px 8px 13px 16px;
    }
    &__profile-mobile {
        display: flex;
        align-items: center;
    }
    &__list-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__item-mobile {
        padding-left: 10px;
        &:not(:last-child) {
            margin-bottom: 12px;
        }
        a {
            font-size: 16px;
        }
    }
    &__mobile-close {
        position: absolute;
        top: 10px;
        right: 5px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        .header__burger-line {
            margin: 0;
            width: 100%;
            &--1 {
                position: absolute;
                transform: rotate(45deg);
            }
            &--2 {
                position: absolute;
                transform: rotate(-45deg);
            }
        }
    }
    &__cities {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background: $whiteBackground;
        margin-top: 20px;
        height: 416px;
        max-height: 0;
        width: 384px;
        box-shadow: 0px 7px 38px rgba(44, 62, 106, 0.25);
        border-radius: 10px;
        transition: max-height .7s, opacity .7s;
        opacity: 0;
        overflow: hidden;
        &-active {
            max-height: 100vh;
            opacity: 1;
        }
        &-container {
            width: 100%;
            padding: 24px 16px 0 16px;
        }
        &-input {
            width: 100%;
            border: 0;
            outline: 1px solid $border;
            background-color: transparent;
            border-radius: 100px;
            padding: 14px 25px;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: $icons;
            &:focus-visible {
                outline: 2px solid $active;
            }
        }
        &-checked {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            align-content: space-between;
            border-bottom: 1px solid #D8D8D8;
            padding-bottom: 16px;
            padding-top: 16px;
        }
        &-list {
            display: flex;
            flex-direction: column;
            max-height: 247px;
            width: 100%;
            padding-top: 8px;
            overflow-y: auto;
            direction: ltr;
            scrollbar-color: #d4aa70 #e4e4e4;
            scrollbar-width: thin;
            &::-webkit-scrollbar {
                width: 10px;
                }
                &::-webkit-scrollbar-track {
                background-color: #e4e4e4;
                border-radius: 100px;
                }
                
                &::-webkit-scrollbar-thumb {
                border-radius: 100px;
                border: 6px solid rgba(0, 0, 0, 0.18);
                border-left: 0;
                border-right: 0;
                background-color: $actions;
                }
            &--container {
                width: 100%;
                padding-top: 8px;
                padding-right: 8px;
            }
        }
        &-item {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: $main;
            cursor: pointer;
            padding: 9px 0 9px 23px;
            &--active {
                background-color: $background;
            }
            &:hover {
                background-color: $background;
            }
            &--checked {
                text-align: center;
                border: 1px solid #D8D8D8;
                border-radius: 100px;
                background-color: $actions;
                color: $backgroundHeader;
                padding: 8px 16px;
                &:hover {
                    background-color: $gray;
                }
            }
        }
        &-save {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 16px 145px;
            color: $icons;
            border-top: 1px solid $border;
            text-transform: uppercase;
            letter-spacing: 2px;
            background-color: $whiteBackground;
            transition: background-color .5s, color .5s;
            &--active {
                background-color: $actions;
                color: $backgroundHeader;
            }
        }
    }
    
    .preloader {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    vertical-align: -0.125em;
    border: 0.2em solid $actions;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: 1s linear infinite preloader;
    animation: 1s linear infinite preloader;
    }

    @keyframes preloader {
        100% {
          transform: rotate(360deg);
        }
    }
}